<h2 mat-dialog-title>{{title}} your pocket</h2>
<form [formGroup]="pocketForm" (ngSubmit)="createOrEditPocket(data.id)">
  <mat-dialog-content class="mat-typography">
    <input type="text" autocomplete="off" placeholder="name" name="name" formControlName="name">
    <input type="text" autocomplete="off" placeholder="euro" name="currency" formControlName="currency">
    <input type="number" autocomplete="off" placeholder="amount" name="amount" formControlName="amount">  
    
     <mat-select name="wallet" formControlName="wallet" placeholder="select wallet" >
        <mat-option name="wallet" formControlName="wallet" placeholder="select wallet" 
        *ngFor="let wallet of wallets"  value="wallet._id"> {{ wallet.name }} </mat-option>
      </mat-select>
     
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Save changes</button>
  </mat-dialog-actions>
</form>