
<h2 mat-dialog-title>Delete all movements</h2>
<mat-dialog-content class="mat-typography">
  <h1>your reports are based on your movements history</h1>
  <h1>Please, make sure to download your pdf reports first</h1>
  <h1>So, are you really sure about to delete all your movements recorded?</h1>
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCEL</button>
  <button type="submit"[mat-dialog-close]="true" cdkFocusInitial 
  (click)="deleteAllMovements()">YES, PLEASE DELETE MY MOVEMENTS HISTORY</button>
</mat-dialog-actions>
