
@if(activeWallet){
    <h1>your active wallet is {{activeWallet.name}}</h1>
    <app-wallet [wallet]="activeWallet"></app-wallet>    

<div>
        <p>Add new</p>        
        <button (click)="openAddPocketDialog(activeWallet)">Add pocket</button>
        <button (click)="openEditWalletDialog(activeWallet)">Edit Wallet</button>
        <button (click)="openAddWalletDialog()">Create new</button>
        <button (click)="openArchive()">Archive</button>
</div>
}@else{
    <p><a (click)="openArchive()">
        You need to active one of your created wallets.

    </a>
</p>
}


