<h2 mat-dialog-title>Add new category</h2>

<form [formGroup]="form" (ngSubmit)="addCategory()">
  <mat-dialog-content class="mat-typography">
    <label>Insert a name for your new category    
    <input type="text" autocomplete="off" placeholder="category name" name="name" formControlName="name">
  </label>
    <label>Insert an optional description
    <input type="text" autocomplete="off" placeholder="description" name="description" formControlName="description">
  </label>
    
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Save changes</button>
  </mat-dialog-actions>
</form>