@if (!wallets) {
<button (click)="openAddWalletDialog()">Go to create a wallet to use</button>
}@else if (!selectedWallet && wallets.length != 0) {
<h2>Select a wallet to open</h2>
<app-wallets-page></app-wallets-page>
}@else if (selectedWallet){
<app-wallet [wallet]="selectedWallet"></app-wallet>

<div>
    <p>Add new</p>
    <button (click)="openAddMovementDialog('expense')">Expense</button>
    <button (click)="openAddMovementDialog('income')">Income</button>
    <button (click)="openAddMovementDialog('transfer')">Transfer</button>

</div>
}