
<div #createWallet style="display: none;">
    <p>You don't have any wallets yet. Create one to get started!</p>
    <button (click)="openCreateWalletDialog()">Create Wallet</button>
</div>

<div #selectWallet style="display: none;">
    <h2>Select a wallet to use</h2>
    <app-wallets-page></app-wallets-page>
</div>

<div #showingWallet style="display: none;">
    @if(selectedWallet){
    <app-wallet [wallet]="selectedWallet"></app-wallet>
    <div>
        <p>Add new</p>
        <button (click)="openAddMovementDialog('expense')">Expense</button>
        <button (click)="openAddMovementDialog('income')">Income</button>
        <button (click)="openAddMovementDialog('transfer')">Transfer</button>
    </div>
    }
</div>
