<h2 mat-dialog-title>Edit pocket</h2>
<form [formGroup]="pocketForm" (ngSubmit)="editPocket()">
  <mat-dialog-content class="mat-typography">
    <input type="text" autocomplete="off"  name="name" formControlName="name">
    <select type="text" autocomplete="on"  name="currency" formControlName="currency">
      <option value="euro">$eu</option>
      <option value="dolar">$usd</option>
      <option value ="peso">$ar</option>
    </select>  
    
    <select type="text" autocomplete="off" name="wallet" formControlName="wallet">
      <option *ngFor="let wallet of wallets" [value]="wallet._id">{{wallet.name}}</option>
    </select>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Save changes</button>
  </mat-dialog-actions>
</form>
