<h2 mat-dialog-title>Make transfer</h2>

<form [formGroup]="form" >
  <mat-dialog-content class="mat-typography">
 
    <label>from the pocket
        <select type="text" autocomplete="off" name="fromPocket" formControlName="fromPocket">
            <option *ngFor="let pocket of pockets" [value]="pocket._id">{{pocket.name}}</option>
          </select>
    </label>
    <label>to the pocket
        <select type="text" autocomplete="off" name="toPocket" formControlName="toPocket">
            <option *ngFor="let pocket of pockets" [value]="pocket._id">{{pocket.name}}</option>
          </select>
    </label>
    <label>Insert transfer amount
        <input type="number" autocomplete="off"  name="transferAmount" formControlName="transferAmount">
    </label>
 
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" (click)="transfer()" [mat-dialog-close]="true" cdkFocusInitial>Transfer</button>
  </mat-dialog-actions>
</form>

