<mat-form-field>
  
  <mat-label>Search pockets in {{wallet.name}}</mat-label>
  
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<button (click)="openAddPocketDialog(wallet)">Add pocket</button>
<button (click)="openEditWalletName(wallet)">edit wallet name</button>
<h1> total amount: {{totalAmount}}</h1>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Pocket Column -->
  <ng-container matColumnDef="pocket">
    <th mat-header-cell *matHeaderCellDef> Pocket </th>
    <td mat-cell *matCellDef="let pocket">
      {{pocket.name}} </td>
  </ng-container>

  <!-- Currency Column -->
  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef> Currency </th>
    <td mat-cell *matCellDef="let pocket"> {{pocket.currency}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let pocket"> {{pocket.amount}} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let pocket"> <button value={{pocket._id}}
        (click)="openEditPocketDialog(pocket._id)">e</button></td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let pocket"> <button value={{pocket._id}}
        (click)="openDeletePocketDialog(pocket._id)">x</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  
</table>


