<h2 mat-dialog-title>Add new pocket</h2>
<form [formGroup]="pocketForm" (ngSubmit)="addPocket()">
  <mat-dialog-content class="mat-typography">
    <br>
    <input type="text" autocomplete="off" placeholder="name" name="name" formControlName="name" >
    <br>
    <select type="text" autocomplete="off" name="currency" formControlName="currency" >
      <option value="euro" >$eu</option>
      <option value="dolar">$usd</option>
      <option value="peso">$ar</option>
    </select>   
    <br>
    <select type="text" autocomplete="off" name="wallet" formControlName="wallet" >
      <option *ngFor="let wallet of wallets"  [value]="wallet._id">{{wallet.name}}</option>
    </select>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Save changes</button>
  </mat-dialog-actions>
</form>